<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LedgerZap</title>
    <style>
      div{
        position : absolute;
        right : 10px;
        top : 5px;
      }
    </style>
  </head>
  <body>
    <h2>DASHBOARD</h2>
    <div >
      <button type="button" onclick="location.href='/'">LOGOUT</button>
    </div>
    <button type="button" onclick="location.href='createorg'">CreateOrganization</button><br>
    <button type="button" onclick="location.href='myorgs'">MyOrganizations</button><br>
  </body>
</html>
