{% extends 'base.html' %}
{% block content %}
{% if message %}
<script>
    alert('{{ message }}');
    window.location.href='/signup/';
</script>
{% endif %}
<h2>SignUp</h2>

<form action="/post_signup/" method="post">
  {% csrf_token %}
  Name:
  <input type="text" name="name"><br>
  Email:
  <input type="email" name="email"><br>
  Password:
  <input type="password" name="passwd"><br>
  Re-Enter Password:
  <input type="password" name="rpasswd"><br>
  Phone No:
  <input type="number" name="contact"><br>
  <input type="submit" value="SIGNUP"><br>
</form>

{% endblock %}
